/**********Tag Selectors*******/

h1 {

  color: green;
  font-size: 30px;
}

img {
  background: yellow;
}


/**********Class Selectors*******/

.bacon {
  background-color: green;
}

.brocoli {
  background-color: red;
}
